@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.glow-orb-1 {
  animation: floatOne 14s ease-in-out infinite alternate;
}

.glow-orb-2 {
  animation: floatTwo 18s ease-in-out infinite alternate;
}

.glow-orb-3 {
  animation: floatThree 16s ease-in-out infinite alternate;
}

@keyframes floatOne {
  0% {
    transform: translateX(-50%) translateY(0px) scale(1);
  }
  100% {
    transform: translateX(-50%) translateY(18px) scale(1.04);
  }
}

@keyframes floatTwo {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(18px, -12px, 0px);
  }
}

@keyframes floatThree {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(-14px, 10px, 0px);
  }
}
